
body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(to right, #74ebd5, #ACB6E5); */
    background-image: url("../../public/3.png");
    /* background-clip: ; */
    margin: 0;
    padding: 0;
    direction: ltr;
}

.login-container {
    max-width: 400px;
    margin: 80px auto;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
.login-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.login-container .p-inputtext,
.login-container .p-password {
    width: 100%;
    direction: rtl;
}
.login-container .p-button {
    width: 100%;
    margin-top: 1rem;
}

.login-container p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.login-container p[style*="red"] {
    color: #e53935;
}

.login-container p[style*="blue"] {
    color: #1e88e5;
}